/* option */

.answer-li {
  transform: scale(1.05);
}

.option-li:hover {
  transform: scale(1.01);
}

.option-li i {
  transition: color 0.2s;
}

.stacked-list > li:not(.option-li, .answer-li) {
  opacity: 0.8;
}
