/* font-awesome */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

/* kaushan font family */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

/* poshui-components */
@import url("https://cdn.jsdelivr.net/gh/hsnice16/PoshUI-Components@development/css/main.min.css");

:root {
  --COLOR-PRIMARY: var(--COLOR-BLUE-500);
  --COLOR-PRIMARY-50: var(--COLOR-BLUE-50);
  --COLOR-PRIMARY-300: var(--COLOR-BLUE-300);
  --COLOR-PRIMARY-800: var(--COLOR-BLUE-800);

  --COLOR-TEXT-500: var(--COLOR-SLATE-500);
  --COLOR-TEXT-700: var(--COLOR-SLATE-700);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* app */
.app {
  background: var(--COLOR-PRIMARY-50);
  font-size: 1.6rem;
  height: 100%;
}

/* container */
.container {
  color: var(--COLOR-TEXT-700);
  margin: auto;
  max-width: 120rem;
}

.container-question {
  margin: auto;
  max-width: 80rem;
  padding: 2rem;
}

/* link */
.link {
  color: var(--COLOR-PRIMARY-800);
  font-size: 2rem;
  position: relative;
}

.link::after {
  background: var(--COLOR-PRIMARY);
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transition: width 0.3s, left 0.3s;
  width: 0;
}

.link:hover::after {
  left: 0;
  width: 100%;
}

/* main */
.main {
  min-height: 75vh;
}

/* overriding */
.stacked-list > li {
  border-bottom: medium solid var(--COLOR-PRIMARY);
  padding: 0;
}

.stacked-list > li.flex {
  padding: 1rem;
}

/* scrollbar */
::-webkit-scrollbar {
  height: 1.5rem;
  width: 1.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--COLOR-PRIMARY);
  border: thick solid var(--COLOR-PRIMARY-50);
  border-radius: 5rem;
}

::-webkit-scrollbar-track {
  background: var(--COLOR-PRIMARY-50);
}

/* utility */
.ctr-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 3.2rem;
  justify-content: center;
  margin: 3rem auto;
  text-align: center;
}

.text-primary-800 {
  color: var(--COLOR-PRIMARY-800);
}

/* common */
nav > a::after,
.ctr-text::before,
.ctr-text:not(.total-score-para)::after {
  background: var(--COLOR-TEXT-500);
  content: "";
  display: block;
  height: 0.5rem;
  width: 7rem;
}

.btn-back-home:hover .left-double-angle-icon,
.link:hover .left-angle-icon {
  transform: translateX(-25%);
}

.btn-game-begin:hover .right-double-angle-icon,
.link:hover .right-angle-icon {
  transform: translateX(25%);
}

/* dark theme */
[data-theme="dark"] {
  --COLOR-CARD-BG: #2d333b;
  --COLOR-PRIMARY-50: #22272e;
  --COLOR-TEXT-700: #adbac7;
  --COLOR-TEXT-800: #8d97a0;
}

[data-theme="dark"] :is(.card, .stacked-list li) {
  background: var(--COLOR-CARD-BG);
}

[data-theme="dark"] .text-slate-800 {
  color: var(--COLOR-TEXT-700);
}

[data-theme="dark"] :is(.link, .text-primary-800) {
  color: var(--COLOR-TEXT-800);
}

/* media query */
@media only screen and (max-width: 40em) {
  html {
    font-size: 60%;
  }

  .container-question {
    padding: 0;
  }

  :is(header, main).px-4 {
    padding: 2rem;
  }
}
